@import "tailwindcss";
@plugin "daisyui";

.footer{
 margin-top: 160px;

}
.fieldset-legend{
  display: flex;
  color: red;
  align-items: center;
  margin-left: 45%;
}

.fieldset w-xs bg-base-200 border border-base-300 p-4 rounded-box{
  margin-left: 45%;
}

.DropBox{
  margin-top: 10px;
  display: grid;
  justify-content: left;
  align-items: left;
}

.Login{
  margin-top: 100px;

  display: flex;
  justify-content: center;
  align-items: center;

}
.file-inputt{
  margin-top: 10px;

  display: grid;
  justify-content: left;
  align-items: left;
}






.markdown-content p {
  line-height: 1.6; /* Adjust the line height to increase space between lines */
}

.markdown-content h1,
.markdown-content h2,
.markdown-content h3,
.markdown-content h4,
.markdown-content h5,
.markdown-content h6 {
  margin-top: 1.5em; /* Add space above headings */
}

.markdown-content ul,
.markdown-content ol {
  margin-left: 1.5em; /* Add space to the left of lists */
}

.markdown-content blockquote {
  margin-left: 1.5em; /* Add space to the left of blockquotes */
  padding-left: 1em; /* Add padding to the left of blockquotes */
  border-left: 4px solid #ccc; /* Add a left border to blockquotes */
}

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #2d2d2d;
  color: #ccc;
}

.hljs-string{
  color: #d1dae3;
}