@import "tailwindcss";
@plugin "daisyui";

.footer{
 /* margin-top: 160px; */
 padding-top: 80px;

}
.fieldset-legend{
  display: flex;
  color: red;
  align-items: center;
  margin-left: 45%;
}

.fieldset w-xs bg-base-200 border border-base-300 p-4 rounded-box{
  margin-left: 45%;
}

.DropBox{
  margin-top: 10px;
  display: grid;
  justify-content: left;
  align-items: left;
}

.Login{
  margin-top: 100px;

  display: flex;
  justify-content: center;
  align-items: center;

}
.file-inputt{
  margin-top: 10px;

  display: grid;
  justify-content: left;
  align-items: left;
}


.markdown-content p {
  line-height: 1.6; 
}

.markdown-content h1,
.markdown-content h2,
.markdown-content h3,
.markdown-content h4,
.markdown-content h5,
.markdown-content h6 {
  margin-top: 1.5em; 
}

.markdown-content ul,
.markdown-content ol {
  margin-left: 1.5em; 
}

.markdown-content blockquote {
  margin-left: 1.5em; 
  padding-left: 1em; 
  border-left: 4px solid #ccc; 
}

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #2d2d2d;
  color: #ccc;
}

.hljs-string{
  color: #d1dae3;
} 